.app-container {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    padding: 40px;
    color: #e2e8f0;
    text-align: center;
  }
  
  .main-title {
    font-size: 36px;
    color: #17e166;
    margin-bottom: 50px;
  }
  
  .pii-search-container {
    background-color: #1e293b;
    padding: 50px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  }
  
  .pii-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .pii-form input,
  .pii-form select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #334155;
    background-color: #0f172a;
    color: #e2e8f0;
  }
  
  .pii-form button {
    font-size: large;
    width: 75%;
    margin-top: 20px; 
    margin-left: 50px;
    padding: 10px;
    background-color: #0bab4a;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
  }
  
  .pii-form button:hover {
    background-color: #057d33;
  }
  
  .result-box {
    margin-left: 130px;
    width: 80%;
    margin-top: 50px;
    background-color: #0f172a;
    padding: 15px;
    border-radius: 8px;
  }
  
  .result-box h3 {
    font-size: larger;
    margin-bottom: 10px;
    color: #e2e8f0;
  }
  .result-box ul{
    list-style-type: none;
    padding-left: 0%;
    line-height: 200%;
  }
  .result-box a {
    color: #facc15;
    text-decoration: none;
  }
  
  .result-box a:hover {
    text-decoration: underline;
  }
  